#
# ------------------------------------------------------------
# Copyright (c) SILAB , Physics Institute of Bonn University 
# ------------------------------------------------------------
#


#...............................................................................
#  Constraints File - Xilinx UCF format
#
#   	Device  :		XC3S1000-4FGG320C
#   	Board   :		S3-Multi-IO-Board V1.03
#   	Project :		S3_Multi_IO_USB
#
#...............................................................................
#
#     TargetId=XC3S1000-4FGG320C
#
#	Msel_0 = "0";		# Programming Mode
#	Msel_1 = "1";		# Programming Mode
#	Msel_2 = "1";		# Programming Mode
#
#...............................................................................


# ------ Constraints -----------------------------------------------

# FCLK (48 MHz)
NET "FCLK_IN" TNM_NET = "TNM_FCLK_IN";
TIMESPEC TS_FCLK_IN = PERIOD "TNM_FCLK_IN" 20 ns HIGH 50 %;

# ------ USB-Interface ---------------------------------------------

NET "FCLK_IN" IOSTANDARD = LVCMOS33;
NET "FCLK_IN" LOC = N10;
#NET "LCK1"              LOC = "P9"      |	IOSTANDARD = LVCMOS33;		
#NET "UCLK_IN"              LOC = "P10"     |	IOSTANDARD = LVCMOS33;

# NET "BUSY_CONF" LOC=V10;
# NET "_CS_CONF" LOC=V2;
# NET "_RDWR_CONF" LOC=V3;

NET "WR_B" IOSTANDARD = LVCMOS33;
NET "WR_B" LOC = V12;
NET "RD_B" IOSTANDARD = LVCMOS33;
NET "RD_B" LOC = U10;

NET "BUS_DATA[7]" LOC = T7 |IOSTANDARD = LVCMOS33;
NET "BUS_DATA[6]" LOC = R7 |IOSTANDARD = LVCMOS33;
NET "BUS_DATA[5]" LOC = V9 |IOSTANDARD = LVCMOS33;
NET "BUS_DATA[4]" LOC = U9 |IOSTANDARD = LVCMOS33;
NET "BUS_DATA[3]" LOC = P11 |IOSTANDARD = LVCMOS33;
NET "BUS_DATA[2]" LOC = N11 |IOSTANDARD = LVCMOS33;
NET "BUS_DATA[1]" LOC = R12 |IOSTANDARD = LVCMOS33;
NET "BUS_DATA[0]" LOC = T12 |IOSTANDARD = LVCMOS33;

NET "ADD[15]" IOSTANDARD = LVCMOS33;
NET "ADD[15]" LOC = R11;
NET "ADD[14]" IOSTANDARD = LVCMOS33;
NET "ADD[14]" LOC = N8;
NET "ADD[13]" IOSTANDARD = LVCMOS33;
NET "ADD[13]" LOC = N4;
NET "ADD[12]" IOSTANDARD = LVCMOS33;
NET "ADD[12]" LOC = P8;
NET "ADD[11]" IOSTANDARD = LVCMOS33;
NET "ADD[11]" LOC = T14;
NET "ADD[10]" IOSTANDARD = LVCMOS33;
NET "ADD[10]" LOC = U13;
NET "ADD[9]" IOSTANDARD = LVCMOS33;
NET "ADD[9]" LOC = R13;
NET "ADD[8]" IOSTANDARD = LVCMOS33;
NET "ADD[8]" LOC = P12;
NET "ADD[7]" IOSTANDARD = LVCMOS33;
NET "ADD[7]" LOC = T11;
NET "ADD[6]" IOSTANDARD = LVCMOS33;
NET "ADD[6]" LOC = P6;
NET "ADD[5]" IOSTANDARD = LVCMOS33;
NET "ADD[5]" LOC = P7;
NET "ADD[4]" IOSTANDARD = LVCMOS33;
NET "ADD[4]" LOC = R10;
NET "ADD[3]" IOSTANDARD = LVCMOS33;
NET "ADD[3]" LOC = P2;
NET "ADD[2]" IOSTANDARD = LVCMOS33;
NET "ADD[2]" LOC = R2;
NET "ADD[1]" IOSTANDARD = LVCMOS33;
NET "ADD[1]" LOC = T3;
NET "ADD[0]" IOSTANDARD = LVCMOS33;
NET "ADD[0]" LOC = T2;


NET "FMODE" IOSTANDARD = LVCMOS33;
NET "FMODE" LOC = R1;
NET "FSTROBE" IOSTANDARD = LVCMOS33;
NET "FSTROBE" LOC = T1;
NET "FREAD" IOSTANDARD = LVCMOS33;
NET "FREAD" LOC = U1;

#NET "RDY[2]"		LOC = "V14"	|	IOSTANDARD = LVCMOS33;
#NET "RDY[1]"		LOC = "V15"	|	IOSTANDARD = LVCMOS33;
#NET "RDY[0]"		LOC = "U14"	|	IOSTANDARD = LVCMOS33;

#NET "FD[15]"		LOC = "R8"	|	IOSTANDARD = LVCMOS33;
#NET "FD[14]"		LOC = "R9"	|	IOSTANDARD = LVCMOS33;
#NET "FD[13]"		LOC = "T8"	|	IOSTANDARD = LVCMOS33;
#NET "FD[12]"		LOC = "R6"	|	IOSTANDARD = LVCMOS33;
#NET "FD[11]"		LOC = "U5"	|	IOSTANDARD = LVCMOS33;
#NET "FD[10]"		LOC = "R5"	|	IOSTANDARD = LVCMOS33;
#NET "FD[9]"		LOC = "T5"	|	IOSTANDARD = LVCMOS33;
#NET "FD[8]"		LOC = "T4"	|	IOSTANDARD = LVCMOS33;
NET "FD[7]" IOSTANDARD = LVCMOS33;
NET "FD[7]" LOC = U4;
NET "FD[6]" IOSTANDARD = LVCMOS33;
NET "FD[6]" LOC = V4;
NET "FD[5]" IOSTANDARD = LVCMOS33;
NET "FD[5]" LOC = V5;
NET "FD[4]" IOSTANDARD = LVCMOS33;
NET "FD[4]" LOC = U6;
NET "FD[3]" IOSTANDARD = LVCMOS33;
NET "FD[3]" LOC = V7;
NET "FD[2]" IOSTANDARD = LVCMOS33;
NET "FD[2]" LOC = V8;
NET "FD[1]" IOSTANDARD = LVCMOS33;
NET "FD[1]" LOC = N9;
NET "FD[0]" IOSTANDARD = LVCMOS33;
NET "FD[0]" LOC = V11;

NET "WR_B" OFFSET = IN : 5 : AFTER : FCLK_IN ;
NET "RD_B" OFFSET = IN : 10 : AFTER : FCLK_IN ;
NET "BUS_DATA[7]" OFFSET = IN : 15  : AFTER : FCLK_IN ;
NET "BUS_DATA[6]" OFFSET = IN : 15  : AFTER : FCLK_IN ;
NET "BUS_DATA[5]" OFFSET = IN : 15  : AFTER : FCLK_IN ;
NET "BUS_DATA[4]" OFFSET = IN : 15  : AFTER : FCLK_IN ;
NET "BUS_DATA[3]" OFFSET = IN : 15  : AFTER : FCLK_IN ;
NET "BUS_DATA[2]" OFFSET = IN : 15  : AFTER : FCLK_IN ;
NET "BUS_DATA[1]" OFFSET = IN : 15  : AFTER : FCLK_IN ;
NET "BUS_DATA[0]" OFFSET = IN : 15  : AFTER : FCLK_IN ;
NET "BUS_DATA[7]" OFFSET = OUT : 5 : BEFORE : FCLK_IN ;
NET "BUS_DATA[6]" OFFSET = OUT : 5 : BEFORE : FCLK_IN ;
NET "BUS_DATA[5]" OFFSET = OUT : 5 : BEFORE : FCLK_IN ;
NET "BUS_DATA[4]" OFFSET = OUT : 5 : BEFORE : FCLK_IN ;
NET "BUS_DATA[3]" OFFSET = OUT : 5 : BEFORE : FCLK_IN ;
NET "BUS_DATA[2]" OFFSET = OUT : 5 : BEFORE : FCLK_IN ;
NET "BUS_DATA[1]" OFFSET = OUT : 5 : BEFORE : FCLK_IN ;
NET "BUS_DATA[0]" OFFSET = OUT : 5 : BEFORE : FCLK_IN ;

# ------ LED -------------------------------------------------------

NET "LED[4]" IOSTANDARD = LVCMOS33;
NET "LED[4]" LOC = U15;
NET "LED[3]" IOSTANDARD = LVCMOS33;
NET "LED[3]" LOC = V16;
NET "LED[2]" IOSTANDARD = LVCMOS33;
NET "LED[2]" LOC = V17;
NET "LED[1]" IOSTANDARD = LVCMOS33;
NET "LED[1]" LOC = U16;
NET "LED[0]" IOSTANDARD = LVCMOS33;
NET "LED[0]" LOC = P13;

# ------ Button & Spare & more -------------------------------------

#NET "FPGA_BUTTON"       LOC=P4		|	IOSTANDARD = LVCMOS33;
#NET "FPGA_SPARE_1"      LOC=C16		|	IOSTANDARD = LVCMOS33;
#NET "FPGA_SPARE_2"      LOC=K6		|	IOSTANDARD = LVCMOS33;

#NET "MULTI_IO_<9>"      LOC=N5		|	IOSTANDARD = LVCMOS33;
#NET "MULTI_IO_<8>"      LOC=L6		|	IOSTANDARD = LVCMOS33;
#NET "MULTI_IO_<7>"      LOC=L3		|	IOSTANDARD = LVCMOS33;
#NET "MULTI_IO_<6>"      LOC=L4		|	IOSTANDARD = LVCMOS33;
#NET "MULTI_IO_<5>"      LOC=L2		|	IOSTANDARD = LVCMOS33;
#NET "MULTI_IO_<4>"      LOC=L1		|	IOSTANDARD = LVCMOS33;
#NET "MULTI_IO_<3>"      LOC=K5		|	IOSTANDARD = LVCMOS33;
#NET "MULTI_IO_<2>"      LOC=K4		|	IOSTANDARD = LVCMOS33;
#NET "MULTI_IO_<1>"      LOC=K1		|	IOSTANDARD = LVCMOS33;
#NET "MULTI_IO_<0>"      LOC=K2		|	IOSTANDARD = LVCMOS33;


# ------ Trigger IOs ----------------------------------------------

#NET "LEMO_RX<2>"								LOC=N2		|	IOSTANDARD = LVCMOS33;
#NET "LEMO_RX<1>"								LOC=P1		|	IOSTANDARD = LVCMOS33;
#NET "LEMO_RX<0>"								LOC=P3		|	IOSTANDARD = LVCMOS33;

#NET "RJ45_RESET"								LOC=L5		|	IOSTANDARD = LVCMOS33;
#NET "RJ45_TRIGGER"							LOC=M1		|	IOSTANDARD = LVCMOS33;

#NET "TX<2>"								LOC=R3		|	IOSTANDARD = LVCMOS33;
#NET "TX<1>"								LOC=M5		|	IOSTANDARD = LVCMOS33;
#NET "TX<0>"								LOC=M3		|	IOSTANDARD = LVCMOS33;

# ------ Async SRAM ------------------------------------------------

NET "SRAM_BLE_B" IOSTANDARD = LVCMOS33;
NET "SRAM_BLE_B" SLEW = FAST;
NET "SRAM_BLE_B" LOC = F14;
NET "SRAM_OE_B" IOSTANDARD = LVCMOS33;
NET "SRAM_OE_B" SLEW = FAST;
NET "SRAM_OE_B" LOC = G14;
NET "SRAM_CE1_B" IOSTANDARD = LVCMOS33;
NET "SRAM_CE1_B" SLEW = FAST;
NET "SRAM_CE1_B" LOC = H16;
NET "SRAM_WE_B" IOSTANDARD = LVCMOS33;
NET "SRAM_WE_B" SLEW = FAST;
NET "SRAM_WE_B" LOC = H17;
NET "SRAM_BHE_B" IOSTANDARD = LVCMOS33;
NET "SRAM_BHE_B" SLEW = FAST;
NET "SRAM_BHE_B" LOC = J15;

NET "SRAM_A[19]" IOSTANDARD = LVCMOS33;
NET "SRAM_A[19]" SLEW = FAST;
NET "SRAM_A[19]" LOC = G16;
NET "SRAM_A[18]" IOSTANDARD = LVCMOS33;
NET "SRAM_A[18]" SLEW = FAST;
NET "SRAM_A[18]" LOC = F17;
NET "SRAM_A[17]" IOSTANDARD = LVCMOS33;
NET "SRAM_A[17]" SLEW = FAST;
NET "SRAM_A[17]" LOC = F15;
NET "SRAM_A[16]" IOSTANDARD = LVCMOS33;
NET "SRAM_A[16]" SLEW = FAST;
NET "SRAM_A[16]" LOC = E17;
NET "SRAM_A[15]" IOSTANDARD = LVCMOS33;
NET "SRAM_A[15]" SLEW = FAST;
NET "SRAM_A[15]" LOC = G15;
NET "SRAM_A[14]" IOSTANDARD = LVCMOS33;
NET "SRAM_A[14]" SLEW = FAST;
NET "SRAM_A[14]" LOC = E18;
NET "SRAM_A[13]" IOSTANDARD = LVCMOS33;
NET "SRAM_A[13]" SLEW = FAST;
NET "SRAM_A[13]" LOC = G18;
NET "SRAM_A[12]" IOSTANDARD = LVCMOS33;
NET "SRAM_A[12]" SLEW = FAST;
NET "SRAM_A[12]" LOC = H18;
NET "SRAM_A[11]" IOSTANDARD = LVCMOS33;
NET "SRAM_A[11]" SLEW = FAST;
NET "SRAM_A[11]" LOC = J18;
NET "SRAM_A[10]" IOSTANDARD = LVCMOS33;
NET "SRAM_A[10]" SLEW = FAST;
NET "SRAM_A[10]" LOC = K18;
NET "SRAM_A[9]" IOSTANDARD = LVCMOS33;
NET "SRAM_A[9]" SLEW = FAST;
NET "SRAM_A[9]" LOC = J14;
NET "SRAM_A[8]" IOSTANDARD = LVCMOS33;
NET "SRAM_A[8]" SLEW = FAST;
NET "SRAM_A[8]" LOC = L18;
NET "SRAM_A[7]" IOSTANDARD = LVCMOS33;
NET "SRAM_A[7]" SLEW = FAST;
NET "SRAM_A[7]" LOC = M18;
NET "SRAM_A[6]" IOSTANDARD = LVCMOS33;
NET "SRAM_A[6]" SLEW = FAST;
NET "SRAM_A[6]" LOC = H14;
NET "SRAM_A[5]" IOSTANDARD = LVCMOS33;
NET "SRAM_A[5]" SLEW = FAST;
NET "SRAM_A[5]" LOC = H15;
NET "SRAM_A[4]" IOSTANDARD = LVCMOS33;
NET "SRAM_A[4]" SLEW = FAST;
NET "SRAM_A[4]" LOC = L15;
NET "SRAM_A[3]" IOSTANDARD = LVCMOS33;
NET "SRAM_A[3]" SLEW = FAST;
NET "SRAM_A[3]" LOC = L16;
NET "SRAM_A[2]" IOSTANDARD = LVCMOS33;
NET "SRAM_A[2]" SLEW = FAST;
NET "SRAM_A[2]" LOC = K17;
NET "SRAM_A[1]" IOSTANDARD = LVCMOS33;
NET "SRAM_A[1]" SLEW = FAST;
NET "SRAM_A[1]" LOC = K15;
NET "SRAM_A[0]" IOSTANDARD = LVCMOS33;
NET "SRAM_A[0]" SLEW = FAST;
NET "SRAM_A[0]" LOC = J17;

NET "SRAM_IO[15]" IOSTANDARD = LVCMOS33;
NET "SRAM_IO[15]" SLEW = FAST;
NET "SRAM_IO[15]" LOC = L17;
NET "SRAM_IO[14]" IOSTANDARD = LVCMOS33;
NET "SRAM_IO[14]" SLEW = FAST;
NET "SRAM_IO[14]" LOC = M16;
NET "SRAM_IO[13]" IOSTANDARD = LVCMOS33;
NET "SRAM_IO[13]" SLEW = FAST;
NET "SRAM_IO[13]" LOC = M15;
NET "SRAM_IO[12]" IOSTANDARD = LVCMOS33;
NET "SRAM_IO[12]" SLEW = FAST;
NET "SRAM_IO[12]" LOC = N17;
NET "SRAM_IO[11]" IOSTANDARD = LVCMOS33;
NET "SRAM_IO[11]" SLEW = FAST;
NET "SRAM_IO[11]" LOC = L14;
NET "SRAM_IO[10]" IOSTANDARD = LVCMOS33;
NET "SRAM_IO[10]" SLEW = FAST;
NET "SRAM_IO[10]" LOC = M14;
NET "SRAM_IO[9]" IOSTANDARD = LVCMOS33;
NET "SRAM_IO[9]" SLEW = FAST;
NET "SRAM_IO[9]" LOC = J13;
NET "SRAM_IO[8]" IOSTANDARD = LVCMOS33;
NET "SRAM_IO[8]" SLEW = FAST;
NET "SRAM_IO[8]" LOC = H13;
NET "SRAM_IO[7]" IOSTANDARD = LVCMOS33;
NET "SRAM_IO[7]" SLEW = FAST;
NET "SRAM_IO[7]" LOC = D18;
NET "SRAM_IO[6]" IOSTANDARD = LVCMOS33;
NET "SRAM_IO[6]" SLEW = FAST;
NET "SRAM_IO[6]" LOC = E15;
NET "SRAM_IO[5]" IOSTANDARD = LVCMOS33;
NET "SRAM_IO[5]" SLEW = FAST;
NET "SRAM_IO[5]" LOC = C18;
NET "SRAM_IO[4]" IOSTANDARD = LVCMOS33;
NET "SRAM_IO[4]" SLEW = FAST;
NET "SRAM_IO[4]" LOC = D16;
NET "SRAM_IO[3]" IOSTANDARD = LVCMOS33;
NET "SRAM_IO[3]" SLEW = FAST;
NET "SRAM_IO[3]" LOC = B18;
NET "SRAM_IO[2]" IOSTANDARD = LVCMOS33;
NET "SRAM_IO[2]" SLEW = FAST;
NET "SRAM_IO[2]" LOC = C17;
NET "SRAM_IO[1]" IOSTANDARD = LVCMOS33;
NET "SRAM_IO[1]" SLEW = FAST;
NET "SRAM_IO[1]" LOC = E16;
NET "SRAM_IO[0]" IOSTANDARD = LVCMOS33;
NET "SRAM_IO[0]" SLEW = FAST;
NET "SRAM_IO[0]" LOC = D17;

#NET RAM_IO<*> OFFSET = IN 1 ns VALID 2 ns BEFORE "TG_MClk";
#NET RAM_A<*>  OFFSET = OUT 500 ps AFTER "TG_MClk";
#NET RAM_IO<*>  OFFSET = OUT 500 ps AFTER "TG_MClk";
#NET RAM_BC_N<*>  OFFSET = OUT 500 ps AFTER "TG_MClk";
#NET RAM_CE_N  OFFSET = OUT 500 ps AFTER "TG_MClk";
#NET SRAM_WE_B  OFFSET = OUT 500 ps AFTER "FCLK_IN";
#NET RAM_OE_N  OFFSET = OUT 500 ps AFTER "TG_MClk";

# ------ Debugging -------------------------------------------------

#NET "DEBUG_CLK1"	LOC = "P14"	|	IOSTANDARD = LVCMOS33;
#NET "DEBUG_CLK2"	LOC = "R14"	|	IOSTANDARD = LVCMOS33;
#NET "DEBUG_D[0]" IOSTANDARD = LVCMOS33;
#NET "DEBUG_D[0]" LOC = K13;
#NET "DEBUG_D[1]" IOSTANDARD = LVCMOS33;
#NET "DEBUG_D[1]" LOC = K14;
#NET "DEBUG_D[2]" IOSTANDARD = LVCMOS33;
#NET "DEBUG_D[2]" LOC = L13;
#NET "DEBUG_D[3]" IOSTANDARD = LVCMOS33;
#NET "DEBUG_D[3]" LOC = N14;
#NET "DEBUG_D[4]" IOSTANDARD = LVCMOS33;
#NET "DEBUG_D[4]" LOC = N15;
#NET "DEBUG_D[5]" IOSTANDARD = LVCMOS33;
#NET "DEBUG_D[5]" LOC = P16;
#NET "DEBUG_D[6]" IOSTANDARD = LVCMOS33;
#NET "DEBUG_D[6]" LOC = P15;
#NET "DEBUG_D[7]" IOSTANDARD = LVCMOS33;
#NET "DEBUG_D[7]" LOC = R16;
#NET "DEBUG_D[8]" IOSTANDARD = LVCMOS33;
#NET "DEBUG_D[8]" LOC = T16;
#NET "DEBUG_D[9]" IOSTANDARD = LVCMOS33;
#NET "DEBUG_D[9]" LOC = P18;
#NET "DEBUG_D[10]" IOSTANDARD = LVCMOS33;
#NET "DEBUG_D[10]" LOC = P17;
#NET "DEBUG_D[11]" IOSTANDARD = LVCMOS33;
#NET "DEBUG_D[11]" LOC = R18;
#NET "DEBUG_D[12]" IOSTANDARD = LVCMOS33;
#NET "DEBUG_D[12]" LOC = R17;
#NET "DEBUG_D[13]" IOSTANDARD = LVCMOS33;
#NET "DEBUG_D[13]" LOC = T18;
#NET "DEBUG_D[14]" IOSTANDARD = LVCMOS33;
#NET "DEBUG_D[14]" LOC = T17;
#NET "DEBUG_D[15]" IOSTANDARD = LVCMOS33;
#NET "DEBUG_D[15]" LOC = U18;

NET "SDA" LOC = D10;
NET "SCL" LOC = D14;

