# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*~
*.swp

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# icarus verilog
host/tests/Makefile
*.vvp

#docs
docs/_build
*.vcd
tests/results.xml
examples/lx9/device/src/SiTCP

# PyDev files
.project
.pydevproject
.vcd

# Mac
.DS_Store
tests/qverilog.log
tests/work
results.xml

firmware/modules/chipscope/*
!firmware/modules/chipscope/*.xise
!firmware/modules/chipscope/*.xco

examples/mmc3_eth/firmware/vivado/*
!examples/mmc3_eth/firmware/vivado/*.xpr
examples/mmc3_eth/firmware/src/SiTCP

examples/mio3_eth_gpac/firmware/vivado/*
!examples/mio3_eth_gpac/firmware/vivado/*.xpr
examples/mio3_eth_gpac/firmware/src/SiTCP
