include README.* VERSION
recursive-include docs *
recursive-include examples *
recursive-include firmware *
recursive-include tests *
recursive-include basil *.yaml
global-exclude *.pyc .project .pydevproject build
