CONFIG VCCAUX=3.3;

NET USER_RESET      LOC = V4  | IOSTANDARD = LVCMOS33 | PULLDOWN;    # "USER_RESET"
NET USER_RESET      TIG;

NET USER_CLOCK        LOC = V10 | IOSTANDARD = LVCMOS33;               # "USER_CLOCK"

NET USER_CLOCK TNM_NET = USER_CLOCK_TNM;
TIMESPEC TS_USER_CLOCK = PERIOD USER_CLOCK_TNM 40000 kHz;

NET GPIO_DIP[0]         LOC = B3  | IOSTANDARD = LVCMOS33 | PULLDOWN;    # "GPIO_DIP1"
NET GPIO_DIP[1]         LOC = A3  | IOSTANDARD = LVCMOS33 | PULLDOWN;    # "GPIO_DIP2"
NET GPIO_DIP[2]         LOC = B4  | IOSTANDARD = LVCMOS33 | PULLDOWN;    # "GPIO_DIP3"
NET GPIO_DIP[3]         LOC = A4  | IOSTANDARD = LVCMOS33 | PULLDOWN;    # "GPIO_DIP4"

NET GPIO_LED[0]        LOC = P4  | IOSTANDARD = LVCMOS18;               # "GPIO_LED1"
NET GPIO_LED[1]        LOC = L6  | IOSTANDARD = LVCMOS18;               # "GPIO_LED2"
NET GPIO_LED[2]        LOC = F5  | IOSTANDARD = LVCMOS18;               # "GPIO_LED3"
NET GPIO_LED[3]        LOC = C2  | IOSTANDARD = LVCMOS18;               # "GPIO_LED4"

CONFIG PROHIBIT = P1,L3;

NET ETH_COL           LOC = M18 | IOSTANDARD = LVCMOS33 | PULLDOWN;    # "ETH_COL"
NET ETH_CRS           LOC = N17 | IOSTANDARD = LVCMOS33 | PULLDOWN;    # "ETH_CRS"
NET ETH_MDC           LOC = M16 | IOSTANDARD = LVCMOS33;               # "ETH_MDC"
NET ETH_MDIO          LOC = L18 | IOSTANDARD = LVCMOS33;               # "ETH_MDIO"
NET ETH_RESET_n       LOC = T18 | IOSTANDARD = LVCMOS33 | TIG;         # "ETH_RESET#"
NET ETH_RX_CLK        LOC = L15 | IOSTANDARD = LVCMOS33;               # "ETH_RX_CLK"
NET ETH_RX_D[0]         LOC = T17 | IOSTANDARD = LVCMOS33 | PULLUP;      # "ETH_RX_D0"
NET ETH_RX_D[1]         LOC = N16 | IOSTANDARD = LVCMOS33 | PULLUP;      # "ETH_RX_D1"
NET ETH_RX_D[2]         LOC = N15 | IOSTANDARD = LVCMOS33 | PULLUP;      # "ETH_RX_D2"
NET ETH_RX_D[3]         LOC = P18 | IOSTANDARD = LVCMOS33 | PULLUP;      # "ETH_RX_D3"
NET ETH_RX_DV         LOC = P17 | IOSTANDARD = LVCMOS33;               # "ETH_RX_DV"
NET ETH_RX_ER         LOC = N18 | IOSTANDARD = LVCMOS33;               # "ETH_RX_ER"
NET ETH_TX_CLK        LOC = H17 | IOSTANDARD = LVCMOS33;               # "ETH_TX_CLK"
NET ETH_TX_D[0]         LOC = K18 | IOSTANDARD = LVCMOS33;               # "ETH_TX_D0"
NET ETH_TX_D[1]         LOC = K17 | IOSTANDARD = LVCMOS33;               # "ETH_TX_D1"
NET ETH_TX_D[2]         LOC = J18 | IOSTANDARD = LVCMOS33;               # "ETH_TX_D2"
NET ETH_TX_D[3]         LOC = J16 | IOSTANDARD = LVCMOS33;               # "ETH_TX_D3"
NET ETH_TX_EN           LOC = L17 | IOSTANDARD = LVCMOS33;               # "ETH_TX_EN"

NET ETH_RX_CLK TNM_NET = ETH_RX_CLK_TMN;
TIMESPEC TS_ETH_RX_CLK = PERIOD ETH_RX_CLK_TMN 25000 kHz;

NET ETH_TX_CLK TNM_NET = ETH_TX_CLK_TMN;
TIMESPEC TS_ETH_TX_CLK = PERIOD ETH_TX_CLK_TMN 25000 kHz;

